<div class="container text-center">
  <h1>About Us</h1>
    <p>
      We are DevMatch. Our company focuses on creating an exclusive community 
      for developers, investors and entrepreneurs to meet.
    </p>
    <p>
      This website was built as part of an online course. This company is entirely 
      but was created using Ruby on Rails. While doing this course, I learned how
      to build a Software-as-a-Service based application using Ruby on Rails. I
      learned how to use bootstrap to make my site mobile friendly and have a
      consistent and modern design throughout. I learned how to employ E-Commerce,
      using Stripe to incorporate credit card fields for fictional service plans. 
      Based on which plan a customer would sign up for, I gave them access to 
      the community and information to contact others. 
    </p>
    <h3>What I used and learned while building this site</h3>
    <p>
      <ul class="list-unstyled">
        <li>Ruby on Rails</li>
        <li>Git and Github</li>
        <li>Bootstrap</li>
        <li>E-Commerce</li>
        <li>JavaScript</li>
        <li>JQuery</li>
      </ul>
    </p>
</div>