<div class="container text-center">
  <h1>About Page</h1>
    <p>
      We are DevMatch. Our company focuses on creating an exclusive community 
      for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, amet, et, modi, nobis facere eligendi quia consectetur minus excepturi sint dolorem vel a dicta deleniti quae ut asperiores ad recusandae.
    </p>
</div>